DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fighterplayz_ecosystem"
NEXTAUTH_SECRET="knJN2wPQJD37fTlHM0TyD3dib2f_Y5oQgMxZS8Tuc8Q"
NEXTAUTH_URL="http://localhost:3000"
ADMIN_EMAIL="admin@fighterplays.com"
ADMIN_PASSWORD="tn2Lco3zYwJSak2L"
UPLOAD_PROVIDER="local"
BLOB_READ_WRITE_TOKEN=""
EMAIL_HOST=""
EMAIL_USER=""
EMAIL_PASS=""
